<div class="container">

    <div class="header">
        <div class="item-menu">
            <button class="botao-header" (click)="login()">Login</button>
        </div>
        <div class="item-menu">
            <button class="botao-header" (click)="cadastro()">Cadastre-se</button>
        </div>

    </div>
    <div class="logo">
        <app-logo-b2z></app-logo-b2z>
    </div>

    <div class="pesquisa-container">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="pesquisa-barra">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput>
        </mat-form-field>
        <div class="botao-container">
            <button mat-button class="pesquisa-botao">Pesquisar</button>
        </div>
    </div>



</div>