.header {
    display: flex;
    justify-content: end;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 20px;
}

.item-menu {
    margin-left: 10px;
    margin-right: 10px;
}

.pesquisa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.pesquisa-barra {
    width: 600px;
    background-color: white;
}

.pesquisa-barra:hover {
    box-shadow: 0 0 5px 0 #c2c2c2af;

}

input {
    padding-left: 8px;
    font-size: 18px;
}

mat-icon {
    color: #5f6368;
}

.pesquisa-botao {
    border-radius: 0%;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    border: #f8f9fa;
    align-self: end;
}

.botao-container {
    display: flex;
    justify-content: flex-end;
    width: 600px;
}

.botao-header {
    background-color: #f8f9fa00;
    border: 0px;
}

.botao-header:hover {
    background-color: #f8f9fa;
    color: #4285F4;
    text-decoration: underline;
    border: 0px;
    cursor: pointer;
}

.logo{
    margin-top: 180px;
}